body{
	color: black;
	/*background: #f8f8f8;*/
	background: rgba(176,196,222,0.8);

}

.header{
	/* background-size: cover; */
	height: 300px;
	background: url("../img/header_bg.png") no-repeat center;
	background-size: contain;

	border: 1px solid;
}

.zakaz{
	border: 1px solid;
}
