body{
	color: #4169E1;
	background: #f8f8f8;
}

.header{
	/* background-size: cover; */
	height: 500px;
	background: url("../img/header.jpg") no-repeat center;
	background-size: cover;

	text-align: center;
}

.zakaz{
	border: 1px solid;
}
